<% include partials/header %>

<div class="form-holder">
<h2 class="form-head">Register</h2>
<form class="" action="/register" method="POST">
    <div class="form-group">
        <input class="form-control register-username" type="text" name="username" placeholder="username">
    </div>
    <div class="form-group">
        <input class="form-control register-password" type="password" name="password" placeholder="password">
    </div>
        <div class="form-group">
        <input class="form-control register-username" type="text" name="nickname" placeholder="Nick Name">
    </div>
    <div  class="form-group">
    <button class="form-control btn  btn-primary">Register</button>
    </div>
    <p align="center" class="ui item">Already Registered? <a class="ui right floated" href="/login">Login</a></p>
    </div>
</form>
</div>
<% include ./partials/footer %>